body {
    background-color: #1e1e2e;
    color: #cdd6f4;

    display: block;
    margin-left: 5%;
    margin-right: 5%;
}

/* 
<uniquifier>: Use a unique and descriptive class name
<weight>: Use a value from 400 to 700
*/

.cabin-bold {
  font-family: "Cabin", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

.cabin-normal {
    font-family: "Cabin", serif;
    font-optical-sizing: auto;
    font-weight: 400 ;
    font-style: normal;
    font-variation-settings: 
      "wdth" 100;
  }

.center {
    max-width: fit-content;
    margin-inline: auto;
    text-align: center;
}

.header-margins {
    margin-top: 20px;
    margin-bottom: 20px;
}

.topbar img {
    float: left;
}
  
.topbar h1 {
    position: relative;
    top: 3px;
    left: 10px;
}

.lines {
    color: #585b70;
    margin-top: 20px;
    margin-bottom: 20px
}